<div style="margin:5px 10px">
    <style type="text/css">
        .link {
        color: #1DA1F2
        }
        :root{
            --font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            --font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        }
    </style>
    <img src="{KT_IMG}" height="40" alt="">
</div>
<div style="margin:1px 5px;font-size: 26px;font-family: Segoe UI,  Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;width: 544px;word-break: break-word;line-height:1.5; font-weight:400; letter-spacing:0.01em">
    {T}
</div>
